* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  max-width: 100vw;
}
.button {
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 24px;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: "Lexend Deca", sans-serif;
}
main {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  width: 50%;

}
h3 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  padding-bottom: 2rem;
}
img {
  padding-bottom: 2rem;
  width: 30%;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  padding-bottom: 3rem;
}
.first-content {
  background-color: hsl(31, 77%, 52%);
  padding: 2rem;
}
.first-content .button {
  color: hsl(31, 77%, 52%);
}
.first-content a.button:hover {
  background-color:hsl(31, 77%, 52%);
  color: white;
  border:2px solid white;
}
.second-content {
  background-color: hsl(184, 100%, 22%);
  padding: 2rem;
}
.second-content .button {
  color: hsl(184, 100%, 22%);
}
.second-content a.button:hover {
  background-color:hsl(184, 100%, 22%);
  color: white;
  border:2px solid white;
}
.third-content {
  background-color: hsl(179, 100%, 13%);
  padding: 2rem;
}
.third-content .button {
  color: hsl(179, 100%, 13%);
}
.third-content a.button:hover {
  background-color: hsl(179, 100%, 13%);
  color: white;
  border:2px solid white;
}
@media only screen and (max-width: 1440px) {
  .main{
    display:flex;
    flex-direction:column;
}
}
@media (min-width=1378) and (max-width: 375px) {
  .first-content, .second-content, .third-content{
    height:400px;
    width:100%;
  }
  main{
    display:flex;
    flex-direction:row;
  }
}